@import "_header";

body {
   font-size: 20px;
   background-color: aqua;

   div {
      font-size: 20px;
   }
}
.block {

   &__item { color: green;
   }
}
.block {
}
.block {

   &__item {
   }

}
.dd